/**
 * Global styles for the application.
 */

/* Font family and basic styling */
* {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
  max-width: 1200px;
  margin: auto;
  padding-left: 60px;
  padding-right: 60px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* Code styling */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Input and textarea styling */
input[type='text'],
textarea {
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
}

/* Button styling */
button {
  background-color: transparent;
  border: 2px solid black;
  padding: 16px;
}

/* Button focus styling */
button:focus {
  border: 2px solid gray;
  cursor: pointer;
}

/* Button hover styling */
button:hover {
  border: 2px solid gray;
  cursor: pointer;
}

/* Button active styling */
button:active {
  background-color: black;
  color: white;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Media query for smaller screens */
@media screen and (width <= 640px) {
  body {
    padding-left: 16px;
    padding-right: 16px;
  }
}
