.active-filter {
    background-color: black;
}

#tasklist-filter-buttons {
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
  
#tasklist-filter-buttons > button {
    margin-right: 8px;
    padding: 0 8px;
}
  