/**
 * Styles for individual tasks.
 */

/* Task container */
.task {
  border: 2px solid black;
  padding: 16px;
  margin-bottom: 16px;
  border-left: 8px solid black;
}

/* Task name input */
.task-name {
  font-size: 32px;
  background-color: transparent;
  width: 100%;
}

/* Container for task name */
.task-name-container {
  margin-bottom: 16px;
}

/* Show edit hint on hover */
.task-name-container > p {
  display: none;
}

.task-name-container:hover > p {
  display: block;
}

/* Task options buttons */
.task-options > button {
  margin-right: 16px;
}

/* Ongoing task style */
.ongoing {
  background-color: rgb(255 255 0 / 10%);
}

/* Done task style */
.done {
  background-color: rgb(173 255 47 / 10%);
}

/* Status tag */
.status {
  background-color: black;
  display: inline-block;
  color: white;
  padding: 4px;
}

/* Ongoing tag style */
.tag-ongoing {
  background-color: yellow;
  color: black;
}

/* Done tag style */
.tag-done {
  background-color: green;
}

/* Media query for smaller screens */
@media screen and (width <= 640px) {
  .task-name {
    font-size: 16px;
  }
}
